<p>
  <strong>nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>detalhes:</strong>
  <%= @product.alias %>
</p>


<div class="hr"></div>
<%= link_to (fa_icon 'pencil').to_s, edit_product_path(@product), :class => 'btn btn-primary' %>
<%= link_to (fa_icon 'arrow-left').to_s, products_path, :class => 'btn btn-default' %>